@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  body {
    @apply font-sans text-stone-800 bg-cream;
  }

  ::selection {
    background-color: rgba(74, 124, 89, 0.2);
    @apply text-stone-900;
  }
}
